*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/*clamp */
.box{
   background-color: blueviolet;
   /* width: 150px;
   height: 150px; 
   то , что выше это фиксированная ширина коробки. но мы можем сделать при помощи функции clamp адаптивную коробку.
  width: clamp(минимальная ширина,предпочтительная ширина ,максимальная ширина  );  */

   width: clamp(220px , 55% , 300px);
   height: 150px;
}

/*именно так по сути работает зажим. */


