*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/*scroll snap это свойство которое позволяет делать скролл с привязкой к ближайшему элементу.  */
.container{
   width: 120px;
   height: 100px;
   display: flex;
   overflow-x: scroll;
   scroll-snap-type: x mandatory; /* x означает что это ось х , так как прокручиваем страницу с лева в право */
}

.container .card{
   min-width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   scroll-snap-align: center; /*таким образом если при скроле мы остановимся между двумя элементами , то благодаря свойству привязки прокрутки  scroll-snap-type который мы прописали выше , данное свойство scroll-snap-align будет выравнивать по центру ближайший элемент прокрутки после привязки. */
}

.container .card:nth-child(1){
   background-color: lightsalmon;
}
.container .card:nth-child(2){
   background-color: lightgray;
}
.container .card:nth-child(3){
   background-color: lightgreen;
}
.container .card:nth-child(4){
   background-color: lightblue;
}