
/* Selector for the text:  */
.text{
   text-align: center;
   /* background: url(Your image url  there);   */
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
 }